/** Natalya's Style **/
.jumbotron {
  background:url('http://www.jetblue.com/img/vacations/destination/New-Orleans-960-x-420.jpg') no-repeat center center fixed;
  height: 800px;
  background-size: cover;
}

.main {
	position: relative;
	top: 180px;
	text-align: center;
}
.natalya-patrikeeva-advice h1 {
	color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;

}

.natalya-patrikeeva-advice a {
	margin-right: 10px;
  border: 0.5px solid #333333;
}


.advice h4 {
	background-color: #333333;
}

.advice p {
	background-color: #333333;
}

.footer p {
	background-color: #333;
  color: #fff;
  padding: 30px 0;
}
