/** Natalya's Style **/
html,body {
	margin: 0;
	padding: 0;
}

.jumbotron {
  background:url('http://www.jetblue.com/img/vacations/destination/New-Orleans-960-x-420.jpg') no-repeat center center fixed;
  height: 800px;
  background-size: cover;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
	position: relative;
	top: 180px;
	text-align: center;
}

.main h1 {
	color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;

}

.sub-main {
  background-color: #333333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}
