/** Natalya's Style **/
html,body {
	margin: 0;
	padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
	padding-top: 50px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
	padding-bottom: 5px;
}

.header img{
	float: right;
	height: 33%;
	padding-right: 50px;
}

.jumbotron {
  background:url('') no-repeat center center fixed;
  height: 400px;
  background-size: cover;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
	position: relative;
	top: 100px;
	text-align: center;
}

.main h1 {
	font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 70px;
	letter-spacing: 1.7px;
  margin-top: 0;
  margin-bottom: 0px;
}


.main h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  padding: 0 50px;
	margin-top: 50px;
  margin-bottom: 40px;
}

.main a {
	margin-right: 10px;
	border: 0.5px solid #333333;
	color: #1E90FF;
	font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.main img {
	float: left;
	top: 0.25 em;
	height: 33%;
	display: inline-block;
	position: relative;
}

.sub-main {
  background-color: #ffffff;
	border: 0.5px solid #333333;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.trio {
	padding-top: 40px;
	padding-bottom: 400px;
}

.trio img {
	height: 50%;
	width: 50%
}

.trio .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.trio h2 {
	font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.trio .col img {
	display: block;
}

.trio p {
	font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  padding: 0 0px;
  margin-bottom: 40px;
}

.trio a {
	margin-right: 15px;
	border: 0.5px solid;
	color: #1E90FF;
}

.footer {
  background-color: #333;
  color: #fff;
	padding-top: 40px;
	text-align: left;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
	padding-bottom: 5px;
}
